#### Q1.Python program to sort Python Dictionaries by Keys

In [17]:
dict1={"Banana":1,"Apple":5,"Mango":2,"Almods":7,"Papai":3}
dict2=sorted(dict1)
for key in dict2:
    print(key)

Almods
Apple
Banana
Mango
Papai

In [13]:
# for reverse dictionary
dict1={"Banana":1,"Apple":5,"Mango":2,"Almods":7,"Papai":3}
sorted(dict1,reverse=True)

['Papai', 'Mango', 'Banana', 'Apple', 'Almods']

#### Q2. Python program to sort Python Dictionaries by Values

In [24]:
dict1={"Banana":1,"Apple":5,"Mango":2,"Almods":7,"Papai":3}
sorted(dict1.values())

[1, 2, 3, 5, 7]

#### Q3. Python program to find the sum of all items in a dictionary

In [27]:
dict1={"Banana":1,"Apple":5,"Mango":2,"Almods":7,"Papai":3}
count=0
for i in dict1.values():
    count+=i
    
print(count)

18

#### Q4.Python program to remove a key from a dictionary

In [29]:
dict1.pop('Apple')

5

In [30]:
dict1

{'Banana': 1, 'Mango': 2, 'Almods': 7, 'Papai': 3}

#### Q5.Python program to merge two Dictionaries

In [31]:
dict1={"Banana":1,"Apple":5,"Mango":2,"Almods":7,"Papai":3}
dict2={'avacado':11,'vadapav':22,'samosa':33}
dict1.update(dict2)

In [32]:
dict1

{'Banana': 1,
 'Apple': 5,
 'Mango': 2,
 'Almods': 7,
 'Papai': 3,
 'avacado': 11,
 'vadapav': 22,
 'samosa': 33}

In [35]:
# using ** we can add multiple dictionary
dict3={**dict1,**dict2}
dict3

{'Banana': 1,
 'Apple': 5,
 'Mango': 2,
 'Almods': 7,
 'Papai': 3,
 'avacado': 11,
 'vadapav': 22,
 'samosa': 33}

#### Q6. Program to create grade calculator in Python

In [39]:
def Grade(a):
    if a<=100:
        if 0<=a<=15:
            print("You are Fail !")
        elif 66<=a<=85:
            print("You have A Grade")
        elif 86<=a<=100:
            print("You have A+ Grade")
        elif 36<=a<=65:
            print("You have B Grade")
        elif 16<=a<=35:
            print("You have C Grade")

In [40]:
Grade(34)

You have C Grade

In [48]:
# using Dictionary
grading_scale = {
    'A+': (90, 100),
    'A': (85, 89),
    'A-': (80, 84),
    'B+': (75, 79),
    'B': (70, 74),
    'B-': (65, 69),
    'C+': (60, 64),
    'C': (55, 59),
    'D': (50, 54),
    'F': (0, 49)
}
def Grade_cal(a):
    for grade , (lo,up) in grading_scale.items():
        if lo<= a <= up:
            return grade
    return "Invalid Score"

In [51]:
Grade_cal(18)

'F'

#### Q7. Print anagrams together in Python using List and Dictionary

In [9]:
list1=["listen", "silent", "hello", "world", "act", "cat", "god", "dog"]
dict1={}
for i in list1:
    anagrams = ' '.join(sorted(i))
    if anagrams in dict1:
        dict1[anagrams].append(i)
    else:
        dict1[anagrams]=[i]
for key , value in dict1.items():
    print(f"{key}  : {value}")

e i l n s t  : ['listen', 'silent']
e h l l o  : ['hello']
d l o r w  : ['world']
a c t  : ['act', 'cat']
d g o  : ['god', 'dog']

#### Q8.Check if binary representations of two numbers are an anagram

In [34]:
def num_anagram(num1,num2):
    a=bin(num1)[2:]
    b=bin(num2)[2:]
    return sorted(a)==sorted(b)

In [37]:
num_anagram(27,27)

True

#### Q9. Python Counter to find the size of the largest subset of anagram words

In [1]:
def find_mirror_characters(input_string):
    # Define a dictionary of mirror characters
    mirror_chars = {'A', 'H', 'I', 'M', 'O', 'T', 'U', 'V', 'W', 'X', 'Y'}

    # Convert the input string to uppercase to make it case-insensitive
    input_string = input_string.upper()

    # Initialize a list to store mirror characters found in the string
    mirror_chars_found = []

    # Iterate through the characters in the input string
    for char in input_string:
        # Check if the character is a mirror character
        if char in mirror_chars:
            mirror_chars_found.append(char)

    return mirror_chars_found

# Example usage
input_str = "Hello WORLD"
mirror_chars_found = find_mirror_characters(input_str)

if mirror_chars_found:
    print(f"Mirror characters found in the string: {', '.join(mirror_chars_found)}")
else:
    print("No mirror characters found in the string.")

Mirror characters found in the string: H, O, W, O

In [2]:
def find_Minor_char(input_str):
    minor_char={'A','H','I','M','O','T','U','V','W','X','Y'}
    input_str = input_str.upper()
    new_min_char =[]
    for i in input_str:
        if i in minor_char:
            new_min_char.append(i)
    return new_min_char

In [3]:
find_Minor_char('Hellow World')

['H', 'O', 'W', 'W', 'O']

In [4]:
find_Minor_char('Om Jay Shiv Omkara')

['O', 'M', 'A', 'Y', 'H', 'I', 'V', 'O', 'M', 'A', 'A']

#### Q10. Counting the frequencies in a list using a dictionary in Python

In [22]:
def count_frequencies(input_list):
    
    frequency_dict = {}

    
    for item in input_list:
        if item in frequency_dict:
            frequency_dict[item] += 1
        else:
             frequency_dict[item] = 1
    return frequency_dict

# Example usage
input_list = [1, 22, 2, 33, 3, 3, 4, 4, 4, 4]
result = count_frequencies(input_list)

# Print the frequencies
for item, count in result.items():
    print(f"{item}: {count}")

1: 1
22: 1
2: 1
33: 1
3: 2
4: 4

#### Q11. Python program to convert a list of Tuples into Dictionary

In [27]:
def lst_tup_dict(tup):
    return {key:value for key , value in tup}

In [28]:
tup1=[('a',1),('b',22),('c',11),('f',56)]
lst_tup_dict(tup1)

{'a': 1, 'b': 22, 'c': 11, 'f': 56}

In [30]:
tup1=[('a',1),('b',22),('c',11),('f',56)]
dict2 = {key:value for key ,value in tup1}
dict2

{'a': 1, 'b': 22, 'c': 11, 'f': 56}

#### Q12. Scraping And Finding Ordered Words In A Dictionary using Python

In [ ]:
# jama nahi

#### Q13. Create a list of tuples from the given list having a number and its cube in each tuple

In [33]:
list1 = [2,3,4,5,6,7,8]
lst_tup = [(i , i**3) for i in list1]

In [34]:
lst_tup

[(2, 8), (3, 27), (4, 64), (5, 125), (6, 216), (7, 343), (8, 512)]

#### Q14. Sort a list of tuples by the second Item

In [39]:
list1 = [(1,3),(2,4),(11,44),(5,33),(6,1)]
lst_tup = sorted(list1, key= lambda x :x[1])

In [40]:
lst_tup

[(6, 1), (1, 3), (2, 4), (5, 33), (11, 44)]

#### Q15. Python Program for Insertion Sort

In [20]:
a=[1,5,2,7,9,6]
for i in range(0,len(a)):
    k = i
    while k>0 and a[k]<a[k-1]:
        c=a[k]
        a[k]=a[k-1]
        a[k-1]=c
        k=k-1
print(a)

[1, 2, 5, 6, 7, 9]

In [6]:
x=[12,34,34,232,542,11,6642,1,2,3,4,5]
for i in range(1,len(x)):
    c=i
    while c>0 and x[c]<x[c-1]:
        a=x[c]
        x[c]=x[c-1]
        x[c-1]=a
        c=c-1
print(x)

[1, 2, 3, 4, 5, 11, 12, 34, 34, 232, 542, 6642]

In [7]:
a=[12,33,22,55,324,6545]
for i in range(1,len(a)):
    b= i 
    while b>0 and a[b]<a[b-1]:
        c=a[b]
        a[b]=a[b-1]
        a[b-1]=c
        b=b-1
print(a)

[12, 22, 33, 55, 324, 6545]

In [8]:
def inserseion_sort(a):
    for i in range(1,len(a)):
        b=i
        while b>0 and a[b]<a[b-1]:
            c=a[b]
            a[b]=a[b-1]
            a[b-1]=c
            b=b-1
    return a

In [9]:
list1=[12,32,3235434,3223134,1,2,3,4,5,65,67,5,34,2,3,4]
print(f" Insersion Sort : ",inserseion_sort(list1))

 Insersion Sort :  [1, 2, 2, 3, 3, 4, 4, 5, 5, 12, 32, 34, 65, 67, 3223134, 3235434]

#### Q16. Python Program for SelectionSort

In [24]:
a=[4,3,5,4,3,3,3,1,3,3,3,4,4,34,34,4,6,676,574]
for i in range(len(a)-1):
    for j in range(i+1,len(a)):
        if a[i]>a[j]:
            b=a[i]
            a[i]=a[j]
            a[j]=b
print(a)

[1, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 6, 34, 34, 574, 676]

#### Q17. Bubble Sort

In [27]:
a=[11,22,33,223,65,4,0,676,34]
for i in range(0,len(a)):
    for j in range(0,len(a)-1):
        if a[j]>a[j+1]:
            c=a[j]
            a[j]=a[j+1]
            a[j+1]=c
print(a)

[0, 4, 11, 22, 33, 34, 65, 223, 676]

#### Q18. Merge Sort

In [1]:
def merge_sort(arr):
    if len(arr) <= 1:
        return arr

    # Divide the array into two halves
    mid = len(arr) // 2
    left_half = arr[:mid]
    right_half = arr[mid:]

    # Recursively sort both halves
    left_half = merge_sort(left_half)
    right_half = merge_sort(right_half)

    # Merge the sorted halves
    return merge(left_half, right_half)

def merge(left, right):
    merged = []
    left_idx, right_idx = 0, 0

    while left_idx < len(left) and right_idx < len(right):
        if left[left_idx] < right[right_idx]:
            merged.append(left[left_idx])
            left_idx += 1
        else:
            merged.append(right[right_idx])
            right_idx += 1

    # Add remaining elements, if any
    merged.extend(left[left_idx:])
    merged.extend(right[right_idx:])
    
    return merged

# Example usage:
unsorted_list = [38, 27, 43, 3, 9, 82, 10]
sorted_list = merge_sort(unsorted_list)
print(sorted_list)

[3, 9, 10, 27, 38, 43, 82]

In [4]:
arr1 = [3,4,5343,23,43,11,456]
merge_sort(arr1)

[3, 4, 11, 23, 43, 456, 5343]

In [5]:
arr2 = [33,45,534,3423]
merge_sort(arr2)

[33, 45, 534, 3423]

#### Q19. Quick Sort

In [3]:
def quick_sort(arr):
    if len(arr) <=1 :
        return arr
    
    pivot = arr[len(arr)//2]
    left = [i for i in arr if i< pivot ]
    middle = [i for i in arr if i == pivot ]
    right = [ i for i in arr if i > pivot ]
    
    return quick_sort(left)+middle+quick_sort(right)

In [4]:
lst1=[2,43,46,5,3,55,77,42,1,9,53]
sort = quick_sort(lst1)
print(sort)

[1, 2, 3, 5, 9, 42, 43, 46, 53, 55, 77]